spring:
  config:    activate:      on-profile:      - prod
  application:
    name: medicine-stock
  datasource:
    url: jdbc:h2:mem:stock
    driverClassName: org.h2.Driver
    username: sa
    password: toughpassword
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
server:
  port: 8080        
eureka:
  client:
    service-url:
      defaultZone: http://${EUREKA_SERVER}:8761/eureka/
      
---

spring:
  config:
    activate:
      on-profile:
      - test
      - dev
  application:
    name: medicine-stock
  datasource:
    url: jdbc:h2:mem:stock
    driverClassName: org.h2.Driver
    username: sa
    password: 
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
server:
  port: 8070        
eureka:
  client:
    enabled: false